#copy this file and put in your api keys in a new .env, as we add more API keys for future tests we will update this page
AWS_BEARER_TOKEN_BEDROCK=put_your_bedrock_api_key_here
AWS_REGION=us-east-1 #change if you guys did smtn diff

AZURE_DEEPSEEK_ENDPOINT=put_your_deepseek_endpoint_url_here
AZURE_DEEPSEEK_API_KEY=put_your_deepseek_key_here

AZURE_GROK_ENDPOINT=put_your_grok_endpoint_url_here
AZURE_GROK_API_KEY=put_your_grok_key_here

#old
GROQ_API_KEY=put_your_groq_key_here
